 body{
    font-family: Arial, sans-serif;
    font-size: 40px;
  }
  
  .container {
    max-width: 750px;
    max-height: 600px;
    margin: 100px auto;
    padding: 100px;
    border: 1px solid #ccc;
    border-radius: 50px;
    background: fixed;
    background: #2b1d1d11;
    box-shadow: 25px  25px 25px;
    position: relative;
    
  }
  
  input[type="text"] {
    width: 100%;
    padding: 20px;
    margin-bottom: 10px;
    border: 5px solid #cccccc11;
    background-color: #504d4d11;
    border-radius: 20px;
   box-shadow:25px 25px 75px;
   font-size: 20px;
   
  }
  
  button {
    width: 250px;
    padding: 30px 20px;
    background-color: #09c20f;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size:26px;
    justify-content:right;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  .delete {
    float: right;
    color: red;
    cursor: pointer;
  }
  
  .completed {
   text-transform: uppercase;
    text-decoration: line-through;
    color: #797474;
    
  
  }